@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* -------------- MENU ------------------- */

.main-header {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.main-header .main-nav ul {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 5px auto;
}

.main-header .main-nav ul li {
  list-style: none;
  padding: 5px 0;
}

.main-header .main-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* -------------- HOME ------------------- */
.home {
  background-image: url(../img/dark-grey-terrazzo.png);
}

.home .texte-intro {
  color: #fff;
}

.home .pdp {
  width: 25%;
  margin: 0 auto;
}

.home .pdp img {
  width: 100%;
  border-radius: 150px;
}

.presentinfos .en2 .infos a {
  color: rgb(0, 120, 1);
}

.en2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.presentation {
  width: 50%;
}

.infos {
  margin: 0 auto;
  width: 10%;
}

.competences {
  width: 30%;
}

.hobbies {
  width: 49%;
}

.experiences table {
  margin: 50px auto;
  border: 1px solid #000;
  width: 100%;
}

.experiences table caption {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-family: "Roboto";
  font-size: Bold;
  border-radius: 50px 50px 0 0;
}

/* -------------- HOBBY ------------------- */

.hobby .hobbies {
  margin: 0 auto;
  text-align: center;
  list-style: inside;
}

.hobby .hobbies li {
  list-style-type: katakana;
}

.hobby .titre {
  color: #fff;
  background-image: url(../img/astro.jpg);
  margin: 0 auto;
  width: 50%;
  height: 1000px;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.hobby .titre .fond {
  background: rgba(0, 0, 0, 0.5) fixed;
  margin-top: 500px;
}

.hobby .titre h3 {
  text-align: center;
  font-size: 80px;
}

.hobby .youtube {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/* -------------- CONTACT ------------------- */

.contact .titre{
  background-image: url(../img/night.jpg);
  background-attachment: fixed;
  height: 250px;
  margin-bottom: 50px;
}

.contact h3 {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 100px;
}

.contact .formulaire {
  width: 50%;
  border: solid 1px #000;
  padding: 10px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.contact .formulaire .form {
  margin-bottom: 10px;
}

.contact .formulaire .form label {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px 0 10px 0;
  padding: 5px 20px;
}

.contact .formulaire input {
  width: 45%;
}

.contact .formulaire .form textarea {
  height: 200px;
  width: 265px;
}

.contact .radios {
  width: 15%;
}

.contact .pets {
  width: 22%;
}
